@model IEnumerable<CIS_560_Final_Project.Models.ManageViewModels.PlayerViewModel>
    @{
        ViewData["Title"] = "Members";
    }
    <h2>@ViewBag.tname Team Members</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cop)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cop)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="ReturnToTeams" asp-route-id="@ViewBag.tid">Back to Teams</a>
    </div>
