@model IEnumerable<CIS_560_Final_Project.Models.Scrims>

@{
    ViewData["Title"] = "Scrims";
}

<h2>Scrims</h2>

<p>
    <a asp-action="CreateScrim">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Winner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datetime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Team1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2.Name)
            </td>
            <td>
                <a asp-action="EditScrim" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="DeleteScrim" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back To Admin Page</a>
</div>