@model IEnumerable<CIS_560_Final_Project.Models.Players>

@{
    ViewData["Title"] = "Teams";
    ViewData.AddActivePage(ManageNavPages.Team);
}

<h4>@ViewData["Title"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IGN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Add to Team
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IGN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    <form asp-action="TeamAdd" asp-route-id="@item.ID">
                        <input type="submit" value="+" class="btn btn-default" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>